.AboutSlide01{
    /* min-height: 100vh; */
    height: auto;
    /* background-color: aquamarine; */
    /* width: 100%; */
    /* background-color: aqua; */
    /* margin: 0 auto; */
    
}

.about-container{
    width: 80vw;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-container p{
    color: #535353;
}

.about-topic{
    font-size: calc(10px + 1vw);
}