.ContactSlide01{
    height: 100vh;
    /* background-color: aliceblue; */
}

.contact-container{
    width: 80vw;
    min-height: 100vh;
    height: auto;
    /* background-color: rgb(125, 125, 125); */
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-container h4{
    color: rgb(84, 84, 84);
}

.contact-container-center{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;


}



.contact-center-list{
    width: 50%;
    /* background-color: rgb(110, 108, 108); */

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;

    padding-right: 15px;
}



.contact-center-list ul{
    margin-top: 30px;
}
.contact-center-list li{
    margin-bottom: 0.5vw;
}

.contact-center-list li p{
    font-size: calc(5px + 1vw);
    font-weight: 390;
}

.contact-center-img{
    width: 50%;
    /* background-color: rgb(146, 144, 144); */

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    padding-left: 15px;
}

@media (max-width: 1200px) {

    .contact-container-center{
        flex-direction: column;
        align-items: center;
    }
    .contact-center-list{
        width: 70%;
        align-items: center;
    }
    .contact-center-img{
        padding: 30px;
        width: 70%;
        align-items: center;
    }  
    
}