.HomeSlide02{
    background-color: #1E1B1A;
    background: url(/src/assets/images/Home/service-bg.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overay-service{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.95);
    z-index: -1;
}




.homeslide02-container{
    width: 85vw;
    /* width: 100%; */
    margin: 0 auto;
    /* background-color: beige; */
}

.homeslide02-container  .service-text{
    color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    
    
    /* margin-top: 30px; */
    margin-bottom: 30px;
}


.service-grid-div{
    width: 100%;
    margin:  0 auto;

    height: auto;


    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    /* column-gap: 10px; */
    /* row-gap: 1px; */
    

    
    
    justify-items: center;
    justify-content: center;
    align-items: center;

    
}

.service-item{
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: rgb(255, 255, 255); */
    margin-right: 10px;
    margin-bottom: 20px;
    min-width: 400px;
    min-height: 300px;
}

.topic-img{
    width: 100%;
    height: 70%;
    background-color: #1E1B1A;
}

.service-info{
    width: 100%;
    height: 30%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.service-info p{
    color: white;
}

.topic-info{
    font-weight: 500;
}

.service-topic-div{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    bottom: 10px;
    
    width: 50%;
    height: 50px;
    border-radius: 7px;
    background-color: #480ED8;
}

.service-topic-div p{
    color: #ffffff;
}