.HomeSlide{
    background: url(/src/assets/images/Home/Home01.png);
    background-size: cover;
    background-position: center;
    position: relative;
    
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.overay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.1);
}

.HomeSlide img{
    position: absolute;
    /* z-index: -1; */
    height: 100%;
    width: 100%;
    object-fit:cover;
    background-color: #480ED8;
}

.contact-us-div{
    position: absolute;
    height: 100%;
    /* z-index: 0; */
    display: flex;
    flex-direction: column;
    
    justify-content: end;
    align-items: center;
    margin-bottom: 250px;
}




.home-p1{
    margin: 0 auto;
    text-align: center;
    /* font-size: 30px; */
    font-size:calc(12px + 3vw);
    
    /* font-weight: lighter; */
    margin-bottom: 1px;
    color: #ffffff;
}

.home-p2{
    margin: 0 auto;
    text-align: center;
    /* font-size: 30px; */
    font-size:calc(12px + 1.5vw);
    
    font-weight: lighter;
    margin-bottom: 20px;
    color: #ffffff;
}




.HomeSlide .contact-us-div .contact-btn {
    text-align: center;
    color: #ffffff;
    background-color: #480ED8;
    width: calc(12px + 20vw);
    height: calc(12px + 4.5vw);
    
    /* padding: 25px 10px; */
    border-radius: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* justify-items: center; */
}

.HomeSlide .contact-us-div .contact-btn p {
    
    margin: 0 auto;
    text-align: center;
    /* font-size: 30px; */
    font-size:calc(12px + 1.5vw);
    
    font-weight: lighter;
    /* margin-bottom: 20px; */
    color: #ffffff;
}

