.ServiceSlide02{
    /* background-color: aqua; */
    height: auto;
}

.service-container{
    width: 80vw;
    /* background-color: beige; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 100px;
}

.service-flex{
    display: flex;
    flex-direction: row;
    /* flex */
    justify-items: center;
    align-items: center;
    justify-content: center;
    flex: 1 1 0%;
    width: 100%;

    margin:  0 auto;
    height: auto;
    flex-flow: row wrap;
    /* margin-bottom: 30px; */
    /* background-color: aqua; */
    
}

.service-item{
    width: 350px;
    height: 17vw;
    margin-right: 30px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

.service-pic{
    background-color: rgb(95, 95, 95);
    width: 100%;
    height: 70%;
}

.service-topic{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}