* {
  margin: 0;
}

.App h1 {
  display: inline-block;
  text-align: center;
  background: rgb(103, 7, 220);
  width: 16rem;
  height: 16rem;
  margin: 10px;

  border: 5px solid black;
  padding: 30px;

  box-sizing: border-box;
}

.Box{
  width: 300px;
  height: 300px;
  background: darkcyan;
  position: relative;
}

.Child-Box{
  width: 50px;
  height: 30px;
  background: rgb(219, 9, 9);
  position: absolute;
  top:10px;
  right: 10px;
 
  
  /* box-sizing: border-box; */
  
}
.Child-Box p{
  color: aliceblue;
  text-align: center;
  /* background-color: aqua; */
  
}