*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Inter'; */
}

.font-link{
  font-family: "Inter", sans-serif;
}

p{
  font-family: "Mitr", sans-serif;
}


body {
  /* height: 100vh; */
  
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
